{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <h1>Agregar Deuda</h1>
        <form method="POST" action="/agregar_deuda">
            <label for="proveedor_id">Proveedor ID:</label>
            <input type="text" id="proveedor_id" name="proveedor_id" required>
            
            <label for="monto">Monto:</label>
            <input type="text" id="monto" name="monto" required>
            
            <label for="fecha_vencimiento">Fecha de Vencimiento:</label>
            <input type="date" id="fecha_vencimiento" name="fecha_vencimiento" required>

            <button type="submit" class="menu-button">Agregar</button>
        </form>
        <a href="/" class="menu-button">Volver al Menú Principal</a>
    </div>
{% endblock %}
