{% extends 'base.html' %}

{% block content %}
    <div class="menu-principal">
    <h1>Bienvenido a Cuentas por Pagar</h1>
    <div class="menu-container">
        <a href="/agregar_proveedor" class="menu-button">Agregar Proveedor</a>
        <a href="/listar_proveedores" class="menu-button">Listar Proveedores</a>
        <a href="/agregar_deuda" class="menu-button">Agregar Deuda</a>
        <a href="/listar_deudas" class="menu-button">Listar Deudas</a>
        <a href="/agregar_factura" class="menu-button">Agregar Factura</a>
        <a href="/listar_facturas" class="menu-button">Listar Facturas</a>
        <a href="/registrar_pago" class="menu-button">Registrar Pago</a>
        <a href="/listar_pagos" class="menu-button">Listar Pagos</a>
        <a href="/contacto" class="menu-button">Contacto</a>
    </div>
    </div>
{% endblock %}
