{% extends 'base.html' %}

{% block content %}
    <div class="login-container">
        <h1>Listar Pagos</h1>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Monto</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr>
                    <td>{{ pago[0] }}</td>
                    <td>{{ pago[2] }}</td>
                    <td>{{ pago[3] }}</td>
                    <td>
                        <a href="/editar_pago/{{ pago[0] }}" class="menu-button">Editar</a>
                        <form action="/eliminar_pago/{{ pago[0] }}" method="POST" style="display:inline;">
                            <button type="submit" class="menu-button" onclick="return confirm('¿Estás seguro de que deseas eliminar este pago?');">Eliminar</button>
                        </form>                    
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/" class="menu-button">Volver al Menú Principal</a>
    </div>
{% endblock %}
